[Unit]
Description=Volume Control
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/code/volume-control
ExecStart=/home/pi/code/volume-control/.venv/bin/python /home/pi/code/volume-control/src/volume_control.py
Restart=always
RestartSec=5
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
